* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --dark-gray: #1a2a32;
    --med-gray: #203139;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --yellow: #f2b147;
    --light-gray: #d3d3d3;
}

.bg-turquoise {
    background-color: var(--turquoise);
}

.bg-med-gray {
    background-color: var(--med-gray);
}

.turquoise {
    color: var(--turquoise);
}

.yellow {
    color: var(--yellow);
}

.light-gray {
    color: var(--light-gray);
}

.hidden {
    display: none !important;
}

body,
html {
    height: 100%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
    border: 1px solid rgba(211, 211, 211, 0.4) !important;
}


body {
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
}

.grid-cell {
    border-radius: 10px;
}

.round-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-over-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    z-index: 100;
    height: 150px;
    width: 300px;
    background-color: var(--gray);
    color: var(--light-gray);
    animation: ease-in-out round-over-animate 0.3s;
}

@keyframes round-over-animate {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(125%);
    }

    100% {
        transform: scale(100%);
    }
}

.round-over-prompt p {
    font-size: 13pt;
}

.round-over-prompt button {
    padding: 10px 15px;
    border-radius: 5px;
}

.turn {
    grid-area: 1/3/2/1;
    display: flex;
    align-items: center;
}

@keyframes turn-text-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

.turn p {
    font-size: 14px;
    margin-left: 20px;
}

.animate-turn-para {
    animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.turn i {
    font-size: 1.8rem;
    margin-left: 10px;
}

.animate-turn-icon {
    animation: 0.6s ease-in-out turn-icon-animation;
}

.action {
    position: relative;
    display: flex;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 150px;
    background-color: rgba(211, 211, 211, 0.05);
}

.action-btn:focus,
.action-btn:hover {
    background-color: var(--med-gray);
}

@keyframes dropdown-menu-down {
    0% {
        opacity: 0%;
        transform: translateY(-20px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes dropdown-menu-up {
    0% {
        opacity: 100%;
        transform: translateY(0);
    }

    100% {
        opacity: 0%;
        transform: translateY(-20px);
        display: none;
    }
}


.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    top: 60px;
    z-index: 1;
    height: 80px;
    width: 150px;
}

.dropdown-menu button {
    margin-left: 25px;
}

.dd-menu-down {
    animation: dropdown-menu-down 0.3s ease-in-out;
}

.dd-menu-up {
    animation: dropdown-menu-up 0.3s ease-in-out;
}

.reset-btn:hover,
.new-round-btn:hover {
    text-decoration: underline;
}

.reset-btn-animate {
    animation: dd-btn-animate 0.5s ease-in-out;
}

.new-round-btn-animate {
    animation: dd-btn-animate 0.5s ease-in-out;
}

@keyframes dd-btn-animate {
    0% {
        opacity: 0%;
        transform: translateX(-10px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

.square {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square i {
    font-size: 35pt;
}

.square:hover {
    opacity: 80%;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
}

.score p {
    margin-top: 5px;
}

.player1 {
    background-color: var(--turquoise);
}

.ties {
    background-color: var(--light-gray);
}

.player2 {
    background-color: var(--yellow);
}

.credits {
    color: var(--light-gray);
    padding-top: 30px;
    text-align: center;
}

.credits a {
    text-decoration: none;
}

.chika a {
    color: var(--turquoise);
}

.andrew {
    padding-top: 10px;
}

.andrew a {
    color: var(--yellow);
}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: 50px repeat(3, 80px) 60px;
        gap: 5px;
    }

    .action-btn {
        gap: 5px;
    }

    .action-btn {
        width: 80px;
    }

    .dropdown-menu {
        width: 100px;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu button {
        margin-left: 0px;
    }

    .square i {
        font-size: 20pt;
    }
}